.header {
  box-shadow: 0px 0px 5px;
  border-bottom-left-radius: 5px;
  height: 80px;
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
}

.nav .active {
  border: 1px dashed black;
}
